body {
  --dot-bg: #fff;
  --dot-color: black;
  --dot-size: 1px;
  --dot-space: 50px;
  background:
    linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

@media (min-width: 1220px) {
  .main-content {
    border-radius: 4px;
  }
}

@media (min-width: 900px) {
  .main-content {
    min-height: 600px;
  }
}

@media (min-width: 620px) {
  .main-content {
    margin-top: 2rem;
    padding: 1.5rem 2rem;
  }
}

.main-content {
  margin: 1.5rem auto 2rem;
  padding: .75rem 1rem;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid-container {
  margin: 0 auto;
  max-width: 1220px;
}

label {
  margin-right: 16px;
}